body {
    background-image: url(AdobeStock_781489300_Preview.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /* pour que l'image de fond soit en plein écran */
    background-position: center; /* pour centrer l'image de fond */
    background-attachment: fixed; /* pour bloquer l'image de fond */
    height: 100vh;
    overflow: auto;
}
h1 {
    color: white;
}